In [92]:
import pandas as pd
pd.options.display.max_rows = 150

from nltk.corpus import stopwords 
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import string

In [93]:
data = pd.read_pickle('cleanData.pkl')
data

,Cabin Flown,Date Flown,Recommended,score,text,origin,destin,Country
0,Economy,October 2015,no,2,We flew with Germanwings (or tried to) on Sept...,Stuttgart,Amsterdam,Canada
1,Economy,October 2015,no,3,I am less than impressed with Germanwings serv...,Hamburg,London,United Kingdom
2,Economy,September 2015,no,3,Flew from Palma de Mallorca to Cologne with Ge...,PMI,CGN,Germany
3,NaN,September 2015,yes,10,Good flight from Berlin-Tegel to London Heathr...,Berlin-Tegel,London,Germany
4,Economy,September 2015,no,4,I don't get why Germanwings is always late and...,CGN,LHR,Germany
5,Economy,September 2015,no,1,We were delayed 5 hours in Istanbul and receiv...,Istanbul,London,United Kingdom
6,Economy,September 2015,yes,7,Easy Check-In at Düsseldorf. The Germanwings f...,Düsseldorf,London,Germany
7,Economy,September 2015,no,2,Checked in at Dusseldorf for our Germanwings f...,Dusseldorf,Heathrow,United Kingdom
8,Economy,August 2015,no,2,This Germanwings flight should take off as sch...,Duesseldorf,Heathrow,Gibraltar
9,Economy,August 2015,no,5,Germanwings is a very mediocre airline. Compar...,Cologne,Palma,Australia
10,Economy,August 2015,no,2,I am Senator on Lufthansa so I fly a lot. Flyi...,Hamburg,Paris,Germany
11,Economy,July 2015,yes,10,"Flight on time, booked smart fare which gave E...",Stansted,Cologne,United Kingdom
12,First Class,July 2015,no,1,"The flight was delayed by 6 hours, allegedly b...",FCO,TXL,Germany
13,Economy,June 2015,no,2,My wife and I were checking in our luggage for...,Hamburg,Geneva,United States
14,Economy,May 2015,yes,7,4U7779 and 4U7778 May16 and May 26 PRG-HAM-PRG...,PRG,HAM,Czech Republic
15,Economy,May 2015,yes,7,DUS-GVA-DUS. Operated by Eurowings on CRJ 900....,DUS,GVA,Netherlands
16,Economy,May 2015,yes,9,Flew Best Class from Hamburg to Cologne. Best ...,Hamburg,Cologne,Germany
17,Economy,May 2015,no,2,Germanwings 9038 DUS-HAM May 6 yet another del...,DUS,HAM,Germany
18,Economy,May 2015,no,4,CGN to HAM Airbus 320. Booked economy class I ...,CGN,HAM,Germany
19,Economy,February 2015,yes,7,I flew from Bologna to Berlin in February with...,Bologna,Berlin,Italy
20,Economy,January 2015,yes,8,DUS-PRG. Best value for your $$ when it comes ...,DUS,PRG,Canada
21,Economy,January 2015,yes,10,13th December from Heathrow T2 to Vienna via C...,Heathrow,Vienna,Austria
22,Economy,January 2015,no,2,LHR-Berlin 29 December - an hour late leaving ...,LHR,Berlin,United Kingdom
23,Economy,December 2014,yes,9,Just one hop from Berlin TXL to Paris CDG on e...,Berlin,Paris,Germany
24,Economy,December 2014,yes,8,LHR-STR-LHR. First time using GW and was quite...,LHR,STR,United Kingdom
25,Economy,December 2014,yes,7,Flew at the end of October from London via Dus...,London,Vienna,United Kingdom
26,Economy,December 2014,yes,8,Regular on HAM-BHX which is Germanwings operat...,HAM,BHX,Germany
27,Economy,November 2014,no,2,Flight Stuttgart-Hamburg. Was regular user of ...,what,LH,Germany
28,Economy,November 2014,yes,10,Went with Germanwings from Manchester to Colog...,Manchester,friends,United Kingdom
29,Economy,September 2014,no,2,Cologne/Bonn to Manchester and return. Both le...,Bonn,Manchester,Germany
30,Economy,September 2014,yes,10,Flew London Heathrow - Cologne Bonn on Monday ...,NaN,NaN,United Kingdom
31,Economy,September 2014,no,na,I am writing this on behalf of my wife who is ...,fly,Hanover,United Kingdom
32,Economy,September 2014,no,5,Hamburg to Prague late Monday morning. This se...,Hamburg,Prague,Czech Republic
33,Economy,August 2014,no,na,Due to fly from London Heathrow to Berlin Tege...,fly,London,United Kingdom
34,Economy,July 2014,yes,10,I flew from Vienna to Hamburg and return with ...,Vienna,Hamburg,Austria
35,Economy,July 2014,yes,10,Flew from LHR to TXL on 14/7/14. Could not com...,LHR,TXL,United Kingdom
36,Economy,July 2014,yes,7,As Germanwings is the Low-Cost carrier of Luft...,DUS,PMI,Germany
37,Economy,July 2014,yes,8,Flew from Brussels to Stuttgart non-stop on 4 ...,Brussels,Stuttgart,United States
38,Economy,July 2014,no,3,Germanwings took over the service on Dusseldor...,NaN,NaN,Netherlands
39,Economy,June 2014,yes,9,CGN-ZRH return. Living close to the German bor...,CGN,ZRH,Netherlands
40,Economy,May 2014,no,5,First time I have used Germanwings for connect...,NaN,NaN,United Kingdom
41,Economy,May 2014,no,2,Shocking customer service only channel for any...,NaN,NaN,United Kingdom
42,Economy,May 2014,yes,9,Prague-Cologne May 1 on brand new A319. Flight...,Prague,Cologne,China
43,Economy,April 2014,no,4,Flew out of LHR to Cologne. As the strike was ...,out,cologne,United Kingdom
44,Economy,March 2014,yes,7,4U3375 22/2/14. STN-HAJ. Low cost low service....,STN,HAJ,Germany
45,Economy,March 2014,no,na,We used Germanwings for the first and last tim...,Berlin,the,Germany
46,Economy,February 2014,no,3,Flew Cologne to Hamburg booked on Lufthansa we...,cologne,hamburg,Germany
47,Economy,January 2014,yes,7,CGN-LIS booked long ago (05/2013) when their n...,CGN,LIS,Germany
48,Economy,January 2014,no,na,I have now started realising what game Germanw...,NaN,NaN,Germany
49,Economy,January 2014,no,1,Flight from Barcelona to Stuttgart: The plane ...,Barcelona,Stuttgart,Germany
50,Economy,December 2013,yes,10,We (2 adults) flew from CGN to ZHR in SMART. T...,CGN,ZHR,Germany
51,Economy,December 2013,no,na,We had bought Germanwings tickets from Helsink...,Lufthansa,the,Finland
52,Economy,December 2013,yes,9,Flew from Birmingham to Berlin on 5 day winter...,Birmingham,Berlin,United Kingdom
53,Economy,December 2013,no,na,I am a regular customer of Germanwings and up ...,and,10,United Kingdom
54,Economy,November 2013,no,4,Budapest to Cologne. Ground staff were pleasan...,Budapest,Cologne,Netherlands
55,Economy,October 2013,yes,9,Flew return from Heathrow to Koln on the 15th ...,Heathrow,Koln,United Kingdom
56,Economy,October 2013,yes,7,Flight from Vienna to Cologne - VIE-CGN - on t...,VIE,CGN,Germany
57,Economy,September 2013,no,3,CGN to FAO Cologne to Faro on an A320. Outboun...,CGN,FAO,Germany
58,Economy,September 2013,no,2,Outbound the passengers were sent to gate clea...,NaN,NaN,United Kingdom
59,Economy,August 2013,no,3,Flew over the weekend CGN-ZRH. Booked Lufthans...,CGN,ZRH,Germany
60,Economy,August 2013,yes,8,29th July 2013. London Heathrow to Cologne fli...,NaN,NaN,United Kingdom
61,Economy,August 2013,no,4,29th July 2013 Flight 4U838 from Cologne to Bo...,Cologne,Bologna,United Kingdom
62,Economy,July 2013,yes,7,BRE-STR. Normal LCC. Staff friendly prices on ...,BRE,STR,Germany
63,Economy,June 2013,yes,9,Flown Verona to Cologne connecting to Manchest...,verona,manchester,Italy
64,Economy,June 2013,no,2,Hamburg-Nuremberg-Hamburg. Outbound flight 40 ...,Hamburg,Nuremberg,Germany
65,Economy,June 2013,no,2,FTL-M&M Frequent flyer status. I can't believe...,HAM,VIE,Germany
66,Economy,May 2013,yes,9,We have just returned from Cologne to Manchest...,Cologne,Manchester,United Kingdom
67,Economy,May 2013,no,na,SPU-DTM.30th May 2013. 08.20 Departure. Flight...,SPU,DTM,United Kingdom
68,Economy,May 2013,no,4,Travelled from Manchester to Vienna with a 3 h...,Manchester,Vienna,United Kingdom
69,Economy,April 2013,yes,6,HAM-STR. Ground staff at Hamburg were pleasant...,HAM,STR,Germany
70,Economy,April 2013,yes,10,Flew to Cologne from LHR on 29th March 2013 an...,Cologne,LHR,United Kingdom
71,Economy,February 2013,yes,6,CGN-TXL A319. Evening service after Cologne Ca...,CGN,TXL,Germany
72,Economy,February 2013,no,2,Booked Lufthansa flight Cologne-Berlin on 28 J...,Cologne,Berlin,Germany
73,Economy,February 2013,no,1,Sad affair on a flight from Treviso to Cologne...,Treviso,Cologne,Germany
74,Economy,December 2012,no,3,Flew back from Cologne on the 10th December - ...,re,board,United Kingdom
75,Economy,December 2012,no,na,Flew to Cologne from LHR - return flight had t...,Cologne,LHR,United Kingdom
76,Economy,December 2012,yes,5,STN-CGN. Delayed 30 minutes with no reason or ...,STN,CGN,United Kingdom
77,Economy,December 2012,yes,5,On a recent trip from Stuttgart to Stansted I ...,Stuttgart,Stansted,Germany
78,Economy,December 2012,yes,8,London Stansted to Stuttgart Germany. Return. ...,NaN,NaN,United Kingdom
79,Economy,November 2012,no,na,On the booking confirmation form downloaded fr...,NaN,NaN,United Kingdom
80,Economy,October 2012,yes,5,LHR-CGN; CGN-LHR. Flight booked and paid for t...,LHR,CGN,United Kingdom
81,Economy,October 2012,no,5,Flights to Dubrovnik Croatia on 9/22 and retur...,Flights,Dubrovnik,Germany
82,Economy,September 2012,yes,10,LHR-CGN-LHR. An excellent flight for a busines...,LHR,CGN,United Kingdom
83,Economy,August 2012,yes,10,For a low-cost airline I was naturally not exp...,low,cost,United Kingdom
84,Economy,July 2012,no,1,We had a 6 hour delay for a 90 minute flight! ...,NaN,NaN,Ireland
85,Economy,July 2012,yes,5,STN-HAJ: Outward leg fine comfortable leather ...,STN,HAJ,United Kingdom
86,Economy,July 2012,no,4,PMI to CGN. Check in was open 2.5 hours before...,PMI,CGN,Germany
87,Economy,May 2012,yes,7,Fly an average of twice a year between North R...,having,pay,Netherlands
88,Economy,April 2012,yes,6,TXL-CGN. On time flight and straightforward ch...,TXL,CGN,Germany
89,Economy,April 2012,yes,8,STR-STN. Check-in and gate staff friendly and ...,STR,STN,United Kingdom
90,Economy,April 2012,yes,4,LHR-CGN. Unfortunately Lufthansa's service bet...,LHR,CGN,United Kingdom
91,Economy,September 2011,yes,9,EDI-CGN and CGN-MUC. I have always rated them ...,EDI,CGN,United Kingdom
92,Economy,July 2011,yes,10,Istanbul to Dortmund. take off super. No probl...,Istanbul,Dortmund,Netherlands
93,Economy,July 2011,no,5,Cologne-Marrakech return. Onward flight was la...,Cologne,Marrakech,Germany
94,Economy,July 2011,yes,9,DUB-VCE via CGN. The flight arrived about a 30...,DUB,VCE,United States
95,Economy,June 2011,no,4,STN-GGN-STN. Outward flight faultless. Swift c...,STN,GGN,United Kingdom
96,Economy,June 2011,yes,9,Manchester to Berlin via Cologne/Bonn. Punctua...,Manchester,Berlin,United Kingdom
97,Economy,May 2011,yes,6,Cologne/Bonn to London Stansted. Check-in stra...,Bonn,London,United Kingdom
98,Economy,March 2011,yes,4,Probably the best amongst the cheap flight car...,NaN,NaN,Germany
99,Economy,March 2011,yes,8,Munich to Cologne return. A nice experience. O...,Munich,Cologne,Germany
100,Economy,February 2011,yes,8,ZAG-SXF on new A319 with clean cabin. Legroom ...,ZAG,SXF,Croatia
101,Economy,October 2010,yes,5,I've had at least eight Germanwings flights in...,NaN,NaN,Germany
102,Economy,September 2010,yes,9,MAN-CGN on A319. Punctual flight on a clean mo...,MAN,CGN,United Kingdom
103,Economy,September 2010,no,3,Cologne to Palma Mallorca return. First leg de...,Cologne,Palma,Germany
104,Economy,August 2010,yes,8,Cologne-Zadar-Cologne. Check in at Cologne was...,Cologne,Zadar,Netherlands
105,Economy,August 2010,yes,9,Great low cost airline. Flew Germanwings recen...,Cologne,Prague,United States
106,Economy,August 2010,yes,9,Flight from Cologne to Santorini was very nice...,Cologne,Santorini,United States
107,Economy,August 2010,yes,5,Cologne to Palma A319. Nothing served if not p...,Cologne,Palma,Germany
108,Economy,May 2010,yes,8,PRG-CGN-PRG. Check-in at PRG okay. Onboard you...,PRG,CGN,Czech Republic
109,Economy,March 2010,no,na,Travel with Caution. If you need to complain a...,Stuttgart,pay,United Kingdom
110,Economy,February 2010,no,na,On two occasions had a very unpleasant experie...,NaN,NaN,France
111,Economy,February 2010,no,na,Found the customer service centre staff awful....,NaN,NaN,United Kingdom
112,Economy,January 2010,yes,6,CGN-ZRH. Despite the sudden snowfall at their ...,CGN,ZRH,Germany
113,Economy,January 2010,no,na,We had to postpone our flights due to illness....,NaN,NaN,United Kingdom
114,Economy,October 2009,yes,5,Cologne-Zurich-Cologne used online-checkin on ...,Cologne,Zurich,Germany
115,NaN,September 2009,no,3,Bologna to Koln and Munich to Bologna (via Kol...,Bologna,Bologna,NaN
116,NaN,July 2009,no,5,DUB to CGN first time flying with GermanWings....,DUB,CGN,NaN
117,NaN,May 2009,no,4,Bucharest - Stuttgart return. A pleasant fligh...,NaN,NaN,NaN
118,NaN,January 2009,no,3,SXF-CGN-SXF. I agree with the comment below ab...,SXF,CGN,NaN
119,NaN,January 2009,no,4,SXF-STR-SXF. Quite good for a budget airline w...,SXF,STR,NaN
120,NaN,January 2009,no,4,I often use the MUC-DTM-MUC leg. Internet-book...,MUC,DTM,NaN
121,NaN,November 2008,no,1,I have found the Germanwings Boomerang program...,get,the,NaN
122,NaN,October 2008,no,3,STR-LIS-STR. One of the longest Germanwings ro...,STR,LIS,NaN
123,NaN,August 2008,no,4,STN-CGN-STN. Looking forward to renewing my ac...,STN,CGN,NaN
124,NaN,August 2008,no,4,STN-CGN-STN first time with Germanwings. Some ...,STN,CGN,NaN
125,NaN,June 2008,no,3,"The last-minute addition of £13 for use of a ""...",last,minute,NaN
126,NaN,April 2008,no,1,STN-CGN-STN. My second time on GermanWings. Th...,STN,CGN,NaN

In [94]:
sentimentAnalyzer = SentimentIntensityAnalyzer()

In [95]:
data['score']=list(map(lambda x:sentimentAnalyzer.polarity_scores(x),data.text))
data['sentiment_com']= list(map(lambda x:x['compound'],data.score))
data['sentiment_pos'] = list(map(lambda x:x['pos'],data.score))
data['sentiment_neg']= list(map(lambda x:x['neg'],data.score))
data['sentiment_neu']= list(map(lambda x:x['neu'],data.score))
data = data.drop(columns="score")

In [96]:
data.head()

,Cabin Flown,Date Flown,Recommended,text,origin,destin,Country,sentiment_com,sentiment_pos,sentiment_neg,sentiment_neu
0,Economy,October 2015,no,We flew with Germanwings (or tried to) on Sept...,Stuttgart,Amsterdam,Canada,-0.6492,0.000,0.035,0.965
1,Economy,October 2015,no,I am less than impressed with Germanwings serv...,Hamburg,London,United Kingdom,-0.2173,0.074,0.106,0.820
2,Economy,September 2015,no,Flew from Palma de Mallorca to Cologne with Ge...,PMI,CGN,Germany,0.9037,0.146,0.052,0.802
3,NaN,September 2015,yes,Good flight from Berlin-Tegel to London Heathr...,Berlin-Tegel,London,Germany,0.3010,0.206,0.203,0.591
4,Economy,September 2015,no,I don't get why Germanwings is always late and...,CGN,LHR,Germany,-0.2975,0.048,0.070,0.882

In [97]:
industry_specific_stopwords = ["cologne","gw","lh","flight", "germanwings", "from", "to", "airbus", "th", "st", "nd", "rd", "lufthansa"]

def cleanText (text, origin, destin):
    result = []
    splitText = text.split(".")
    
    for r in splitText:    
        r = ''.join([i for i in r if not i.isdigit()])
        r = r.replace(origin, '')
        r = r.replace(destin, '')
        tokens = word_tokenize(r)
        tags = pos_tag(tokens)
        nouns = [word for word,pos in tags if (pos == 'NN' or pos == 'NNP')]
        resultwords  = [word for word in nouns if word.lower().translate(str.maketrans({key: None for key in string.punctuation})) not in industry_specific_stopwords]
        result.append(resultwords)
    
    return result
    
    
data['cleanText']=list(map(lambda x,y,z:cleanText(x,y,z),data.text, data.origin, data.destin))

In [98]:
data.head()

,Cabin Flown,Date Flown,Recommended,text,origin,destin,Country,sentiment_com,sentiment_pos,sentiment_neg,sentiment_neu,cleanText
0,Economy,October 2015,no,We flew with Germanwings (or tried to) on Sept...,Stuttgart,Amsterdam,Canada,-0.6492,0.000,0.035,0.965,"[[September], [counter, information], [counter..."
1,Economy,October 2015,no,I am less than impressed with Germanwings serv...,Hamburg,London,United Kingdom,-0.2173,0.074,0.106,0.820,"[[service], [connection, stewardess, water, ev..."
2,Economy,September 2015,no,Flew from Palma de Mallorca to Cologne with Ge...,PMI,CGN,Germany,0.9037,0.146,0.052,0.802,"[[Flew, Palma, Mallorca], [Check-in, row], [pl..."
3,NaN,September 2015,yes,Good flight from Berlin-Tegel to London Heathr...,Berlin-Tegel,London,Germany,0.3010,0.206,0.203,0.591,"[[Heathrow, staff], [Delay, Berlin, behaf], [l..."
4,Economy,September 2015,no,I don't get why Germanwings is always late and...,CGN,LHR,Germany,-0.2975,0.048,0.070,0.882,"[[service], [ground, staff, departure, arrival..."

In [99]:
def concatLists(x):
    return [item for sublist in x for item in sublist]

sentence_documents = [item for sublist in data['cleanText'].tolist() for item in sublist]
review_documents = [concatLists(x) for x in data['cleanText'].tolist()]

In [100]:
stop = set(stopwords.words('english'))
exclude = set(string.punctuation) 
lemma = WordNetLemmatizer()

def nlp_clean(document):
    stop_free = [i for i in document if i.lower() not in stop]
    punc_free = [ch for ch in stop_free if ch not in exclude]
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free)
    return normalized

In [101]:
DOCUMENTS = review_documents

In [102]:
doc_c = [nlp_clean(doc) for doc in DOCUMENTS]   
doc_clean = [doc.split() for doc in doc_c]

In [103]:
# Importing Gensim
import gensim
from gensim import corpora

# Creating the term dictionary of our courpus, where every unique term is assigned an index.

dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [104]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
# ldamodel = Lda(doc_term_matrix, num_topics=8, id2word = dictionary, passes=100)

In [16]:
# ldamodel.print_topics(num_topics=25, num_words=3)

[(0, '0.020*"price" + 0.013*"snack" + 0.013*"business"'),
 (1, '0.026*"time" + 0.025*"service" + 0.016*"crew"'),
 (2, '0.031*"plane" + 0.023*"luggage" + 0.023*"time"'),
 (3, '0.026*"service" + 0.023*"food" + 0.017*"airport"'),
 (4, '0.028*"time" + 0.016*"return" + 0.015*"seat"'),
 (5, '0.024*"time" + 0.019*"staff" + 0.014*"return"'),
 (6, '0.030*"luggage" + 0.017*"ticket" + 0.017*"time"'),
 (7, '0.027*"time" + 0.022*"food" + 0.022*"airline"')]

In [20]:
# ldamodel.save("mymodel")

In [105]:
Lda = gensim.models.ldamodel.LdaModel

x = Lda.load("ldamodels/mymodel")

In [106]:
x.print_topics(num_topics=25, num_words=3)

[(0, '0.020*"price" + 0.013*"snack" + 0.013*"business"'),
 (1, '0.026*"time" + 0.025*"service" + 0.016*"crew"'),
 (2, '0.031*"plane" + 0.023*"luggage" + 0.023*"time"'),
 (3, '0.026*"service" + 0.023*"food" + 0.017*"airport"'),
 (4, '0.028*"time" + 0.016*"return" + 0.015*"seat"'),
 (5, '0.024*"time" + 0.019*"staff" + 0.014*"return"'),
 (6, '0.030*"luggage" + 0.017*"ticket" + 0.017*"time"'),
 (7, '0.027*"time" + 0.022*"food" + 0.022*"airline"')]

In [107]:
topicTitles = []
placeholder = []
assigned = []

def getKeyScore(i):
    return i[1][0][0]

for i in x.print_topics(num_topics=25, num_words=5):
    placeholder.append((i[0],[(j.split('*')[0].strip(),j.split('*')[1].strip().replace('"','')) for j in i[1].split("+")]))


s_placeholder = sorted(placeholder, key = getKeyScore, reverse = True)

while len(topicTitles) < 8:
    for i in s_placeholder:
        if i[1][0][1] not in assigned:
            topicTitles.append((i[0],i[1][0][1]))      
            assigned.append(i[1][0][1])
        else:
            i[1].pop(0)
            topicTitles = []
            assigned = []
            break

    s_placeholder = sorted(s_placeholder, key = getKeyScore, reverse = True)

In [108]:
topicTitles

[(2, 'plane'),
 (6, 'luggage'),
 (4, 'time'),
 (3, 'service'),
 (7, 'food'),
 (0, 'price'),
 (5, 'staff'),
 (1, 'crew')]

In [109]:
assigmentLists = {}
for topic in topicTitles:
    assigmentLists[topic[0]] = []

assigmentLists

{2: [], 6: [], 4: [], 3: [], 7: [], 0: [], 5: [], 1: []}

In [110]:
for idx,doc_i in enumerate(doc_clean):
    score = x.get_document_topics(dictionary.doc2bow(doc_i))
    nums = [k for k in range(8)]
    for element in score:
        if element[1]>0.2:
            nums.remove(element[0])
            assigmentLists[element[0]].append(1)
    for n in nums:
        assigmentLists[n].append(0)

In [111]:
for topic in topicTitles:
    data["topic_"+topic[1]]= assigmentLists[topic[0]]

In [112]:
data.head()

,Cabin Flown,Date Flown,Recommended,text,origin,destin,Country,sentiment_com,sentiment_pos,sentiment_neg,sentiment_neu,cleanText,topic_plane,topic_luggage,topic_time,topic_service,topic_food,topic_price,topic_staff,topic_crew
0,Economy,October 2015,no,We flew with Germanwings (or tried to) on Sept...,Stuttgart,Amsterdam,Canada,-0.6492,0.000,0.035,0.965,"[[September], [counter, information], [counter...",0,0,1,0,0,0,0,0
1,Economy,October 2015,no,I am less than impressed with Germanwings serv...,Hamburg,London,United Kingdom,-0.2173,0.074,0.106,0.820,"[[service], [connection, stewardess, water, ev...",1,0,0,0,0,0,0,0
2,Economy,September 2015,no,Flew from Palma de Mallorca to Cologne with Ge...,PMI,CGN,Germany,0.9037,0.146,0.052,0.802,"[[Flew, Palma, Mallorca], [Check-in, row], [pl...",0,0,0,0,0,0,0,1
3,NaN,September 2015,yes,Good flight from Berlin-Tegel to London Heathr...,Berlin-Tegel,London,Germany,0.3010,0.206,0.203,0.591,"[[Heathrow, staff], [Delay, Berlin, behaf], [l...",0,0,0,0,1,0,0,0
4,Economy,September 2015,no,I don't get why Germanwings is always late and...,CGN,LHR,Germany,-0.2975,0.048,0.070,0.882,"[[service], [ground, staff, departure, arrival...",0,0,0,0,0,0,0,1