In [55]:
import pandas as pd
pd.options.display.max_rows = 150

import math

In [56]:
data = pd.read_pickle('data_topicfts.pkl')
data = data.loc[data['Country'] != "NaN"]
data

,cabin,date,Recommended,text,origin,destin,Country,sentiment_com,sentiment_pos,sentiment_neg,sentiment_neu,cleanText,topic_plane,topic_luggage,topic_time,topic_service,topic_food,topic_price,topic_staff,topic_crew
0,Economy,2015-10-01,0,We flew with Germanwings (or tried to) on Sept...,Stuttgart,Amsterdam,Canada,-0.6492,0.000,0.035,0.965,"[[September], [counter, information], [counter...",0,0,1,0,0,0,0,0
1,Economy,2015-10-01,0,I am less than impressed with Germanwings serv...,Hamburg,London,United Kingdom,-0.2173,0.074,0.106,0.820,"[[service], [connection, stewardess, water, ev...",1,0,0,0,0,0,0,0
2,Economy,2015-09-01,0,Flew from Palma de Mallorca to Cologne with Ge...,PMI,CGN,Germany,0.9037,0.146,0.052,0.802,"[[Flew, Palma, Mallorca], [Check-in, row], [pl...",0,0,0,0,0,0,0,1
3,NaN,2015-09-01,1,Good flight from Berlin-Tegel to London Heathr...,Berlin-Tegel,London,Germany,0.3010,0.206,0.203,0.591,"[[Heathrow, staff], [Delay, Berlin, behaf], [l...",0,0,0,0,1,0,0,0
4,Economy,2015-09-01,0,I don't get why Germanwings is always late and...,CGN,LHR,Germany,-0.2975,0.048,0.070,0.882,"[[service], [ground, staff, departure, arrival...",0,0,0,0,0,0,0,1
5,Economy,2015-09-01,0,We were delayed 5 hours in Istanbul and receiv...,Istanbul,London,United Kingdom,-0.9670,0.017,0.112,0.871,"[[sandwich, plane, compensation], [cabin, day,...",0,1,0,0,0,0,0,0
6,Economy,2015-09-01,1,Easy Check-In at Düsseldorf. The Germanwings f...,Düsseldorf,London,Germany,0.3400,0.162,0.137,0.701,"[[Check-In], [time], [airline], [food], [Ticke...",0,1,0,0,0,0,0,0
7,Economy,2015-09-01,0,Checked in at Dusseldorf for our Germanwings f...,Dusseldorf,Heathrow,United Kingdom,-0.8271,0.074,0.137,0.789,"[[person, cancellation, yesterday], [question]...",0,1,0,0,0,0,0,0
8,Economy,2015-08-01,0,This Germanwings flight should take off as sch...,Duesseldorf,Heathrow,Gibraltar,-0.5132,0.058,0.109,0.833,"[[plane], [Transfer, bus, Air, Düsseldorf], [b...",1,0,0,0,0,0,0,0
9,Economy,2015-08-01,0,Germanwings is a very mediocre airline. Compar...,Cologne,Palma,Australia,-0.7629,0.055,0.229,0.716,"[[airline], [], [anything, food, product], []]",0,0,0,1,1,0,0,0
10,Economy,2015-08-01,0,I am Senator on Lufthansa so I fly a lot. Flyi...,Hamburg,Paris,Germany,-0.0756,0.092,0.095,0.814,"[[Senator, lot], [Smart, fare, Euro, sandwich,...",0,0,0,0,0,0,0,1
11,Economy,2015-07-01,1,"Flight on time, booked smart fare which gave E...",Stansted,Cologne,United Kingdom,0.9591,0.360,0.000,0.640,"[[time, smart, fare, Extra, Legroom, seat, sna...",0,1,0,0,0,0,0,0
12,First Class,2015-07-01,0,"The flight was delayed by 6 hours, allegedly b...",FCO,TXL,Germany,-0.8548,0.105,0.183,0.712,"[[radar, system, failure, Rome, Fiumicino, air...",0,0,1,0,0,0,0,0
13,Economy,2015-06-01,0,My wife and I were checking in our luggage for...,Hamburg,Geneva,United States,-0.5187,0.035,0.054,0.911,"[[wife, luggage, person, “, enforcer, ”, term]...",0,1,0,0,0,0,0,0
14,Economy,2015-05-01,1,4U7779 and 4U7778 May16 and May 26 PRG-HAM-PRG...,PRG,HAM,Czech Republic,-0.5574,0.063,0.096,0.841,"[[U, U, May, May, economy, class], [cost, opti...",0,0,0,0,1,0,0,0
15,Economy,2015-05-01,1,DUS-GVA-DUS. Operated by Eurowings on CRJ 900....,DUS,GVA,Netherlands,0.9260,0.212,0.029,0.759,"[[], [CRJ], [plane, seating], [outbound, inbou...",0,0,0,0,0,0,1,0
16,Economy,2015-05-01,1,Flew Best Class from Hamburg to Cologne. Best ...,Hamburg,Cologne,Germany,0.9876,0.209,0.035,0.756,"[[Flew, Best, Class], [Best, business], [row, ...",0,0,0,0,1,0,0,0
17,Economy,2015-05-01,0,Germanwings 9038 DUS-HAM May 6 yet another del...,DUS,HAM,Germany,0.7223,0.090,0.062,0.848,"[[May, delay, cancellation], [replacement, Fra...",0,0,0,0,0,0,1,0
18,Economy,2015-05-01,0,CGN to HAM Airbus 320. Booked economy class I ...,CGN,HAM,Germany,0.9186,0.155,0.034,0.811,"[[], [economy, class, bag, overweight, ticket,...",0,1,0,0,0,0,0,0
19,Economy,2015-02-01,1,I flew from Bologna to Berlin in February with...,Bologna,Berlin,Italy,0.9124,0.160,0.047,0.794,"[[February, A, time, food, board, kind, hostes...",0,0,0,0,1,0,0,0
20,Economy,2015-01-01,1,DUS-PRG. Best value for your $$ when it comes ...,DUS,PRG,Canada,0.9432,0.327,0.000,0.673,"[[], [value, haul], [wait, check, staff, desk/...",0,1,0,0,0,0,0,0
21,Economy,2015-01-01,1,13th December from Heathrow T2 to Vienna via C...,Heathrow,Vienna,Austria,0.9941,0.393,0.016,0.590,"[[December, T], [crew, cabin], [Transfer, Colo...",0,1,0,0,0,0,0,1
22,Economy,2015-01-01,0,LHR-Berlin 29 December - an hour late leaving ...,LHR,Berlin,United Kingdom,-0.7206,0.029,0.103,0.868,"[[December, hour, leaving, board, staff, nothi...",1,0,0,0,0,0,0,0
23,Economy,2014-12-01,1,Just one hop from Berlin TXL to Paris CDG on e...,Berlin,Paris,Germany,0.9663,0.233,0.013,0.754,"[[hop, TXL, Saturday, morning], [Departure, ic...",0,0,0,0,0,0,0,1
24,Economy,2014-12-01,1,LHR-STR-LHR. First time using GW and was quite...,LHR,STR,United Kingdom,0.9346,0.180,0.109,0.712,"[[], [time], [Price, Heathrow], [Plane, Smart,...",1,0,0,0,0,0,0,0
25,Economy,2014-12-01,1,Flew at the end of October from London via Dus...,London,Vienna,United Kingdom,0.7711,0.156,0.090,0.754,"[[Flew, end, October, Dusseldorf], [time], [Sm...",0,0,0,1,0,0,0,0
26,Economy,2014-12-01,1,Regular on HAM-BHX which is Germanwings operat...,HAM,BHX,Germany,0.7395,0.102,0.000,0.898,"[[Bombardier, CRJ], [staff], [route], [gripe, ...",0,0,0,0,0,0,1,0
27,Economy,2014-11-01,0,Flight Stuttgart-Hamburg. Was regular user of ...,what,LH,Germany,-0.6369,0.080,0.113,0.807,"[[Stuttgart-Hamburg], [Was, user, place, every...",0,1,0,0,0,0,0,0
28,Economy,2014-11-01,1,Went with Germanwings from Manchester to Colog...,Manchester,friends,United Kingdom,0.9258,0.349,0.000,0.651,"[[Went, October, October, time, airline, time,...",0,1,0,0,0,0,0,0
29,Economy,2014-09-01,0,Cologne/Bonn to Manchester and return. Both le...,Bonn,Manchester,Germany,-0.4776,0.076,0.109,0.815,"[[], [journey], [gate, time], [hour], [informa...",0,0,0,0,1,0,0,0
30,Economy,2014-09-01,1,Flew London Heathrow - Cologne Bonn on Monday ...,NaN,NaN,United Kingdom,0.9815,0.155,0.011,0.834,"[[Flew, London, Heathrow, Bonn, Monday, Septem...",0,0,0,0,0,0,0,1
31,Economy,2014-09-01,0,I am writing this on behalf of my wife who is ...,fly,Hanover,United Kingdom,-0.6041,0.040,0.075,0.885,"[[behalf, wife, way, Europe, incompetence, ope...",0,0,0,0,0,0,0,1
32,Economy,2014-09-01,0,Hamburg to Prague late Monday morning. This se...,Hamburg,Prague,Czech Republic,0.7937,0.082,0.014,0.904,"[[Monday, morning], [segment, part, U], [catch...",0,0,0,0,0,0,1,0
33,Economy,2014-08-01,0,Due to fly from London Heathrow to Berlin Tege...,fly,London,United Kingdom,-0.8691,0.022,0.099,0.880,"[[Heathrow, Berlin, Tegel, July], [hour], [], ...",0,1,0,0,0,0,0,0
34,Economy,2014-07-01,1,I flew from Vienna to Hamburg and return with ...,Vienna,Hamburg,Austria,0.9478,0.228,0.026,0.746,"[[], [OS], [journey], [time, crew, catering, j...",0,0,0,0,0,0,0,1
35,Economy,2014-07-01,1,Flew from LHR to TXL on 14/7/14. Could not com...,LHR,TXL,United Kingdom,0.5733,0.088,0.000,0.912,"[[], [aspect, hour, seat, choice, snack, hitch...",1,0,0,0,0,0,0,0
36,Economy,2014-07-01,1,As Germanwings is the Low-Cost carrier of Luft...,DUS,PMI,Germany,0.9028,0.201,0.032,0.768,"[[Low-Cost, carrier, course, hrs], [ticket, EU...",0,1,0,0,0,0,0,0
37,Economy,2014-07-01,1,Flew from Brussels to Stuttgart non-stop on 4 ...,Brussels,Stuttgart,United States,0.9601,0.253,0.000,0.747,"[[June], [], [], [Sandwich, fare], [Convenienc...",0,0,0,1,0,0,0,0
38,Economy,2014-07-01,0,Germanwings took over the service on Dusseldor...,NaN,NaN,Netherlands,0.2732,0.036,0.000,0.964,"[[service, Dusseldorf, Basel, route], [busines...",0,0,0,0,0,1,0,0
39,Economy,2014-06-01,1,CGN-ZRH return. Living close to the German bor...,CGN,ZRH,Netherlands,0.6052,0.075,0.000,0.925,"[[return], [border, AMS, DUS, Zurich], [drink,...",0,0,1,0,0,0,0,0
40,Economy,2014-05-01,0,First time I have used Germanwings for connect...,NaN,NaN,United Kingdom,0.2182,0.114,0.107,0.778,"[[time, Hamburg], [APP], [check, inconvenience...",0,0,1,0,0,0,0,1
41,Economy,2014-05-01,0,Shocking customer service only channel for any...,NaN,NaN,United Kingdom,-0.9041,0.000,0.160,0.840,"[[customer, service, complaint, customer, help...",0,0,0,0,1,0,0,0
42,Economy,2014-05-01,1,Prague-Cologne May 1 on brand new A319. Flight...,Prague,Cologne,China,0.9493,0.312,0.000,0.688,"[[May, brand, A], [time, cabin, legroom, seat]...",0,0,0,0,0,0,1,0
43,Economy,2014-04-01,0,Flew out of LHR to Cologne. As the strike was ...,out,cologne,United Kingdom,-0.1759,0.077,0.106,0.817,"[[Flew, LHR], [strike, check, ticket, desk, ne...",0,0,0,0,0,0,0,1
44,Economy,2014-03-01,1,4U3375 22/2/14. STN-HAJ. Low cost low service....,STN,HAJ,Germany,-0.7964,0.068,0.280,0.653,"[[U, //], [], [cost, service], [], [Plane], []...",0,1,0,0,0,0,0,0
45,Economy,2014-03-01,0,We used Germanwings for the first and last tim...,Berlin,the,Germany,-0.7713,0.008,0.056,0.935,"[[time, weekend], [TXL, Nuernberg, March, numb...",0,1,0,0,0,0,0,0
46,Economy,2014-02-01,0,Flew Cologne to Hamburg booked on Lufthansa we...,cologne,hamburg,Germany,0.1082,0.092,0.088,0.820,"[[Flew, Hamburg, webpage], [ticket, service], ...",0,0,0,0,0,0,0,1
47,Economy,2014-01-01,1,CGN-LIS booked long ago (05/2013) when their n...,CGN,LIS,Germany,0.9889,0.199,0.044,0.757,"[[/, fare, scheme, Smart, Best, etc], [seat, F...",0,0,0,0,0,0,1,0
48,Economy,2014-01-01,0,I have now started realising what game Germanw...,NaN,NaN,Germany,-0.9750,0.059,0.187,0.754,"[[game], [return], [occasion, return, journey]...",0,0,1,0,0,0,0,0
49,Economy,2014-01-01,0,Flight from Barcelona to Stuttgart: The plane ...,Barcelona,Stuttgart,Germany,-0.2942,0.000,0.049,0.951,"[[plane, ground, situation], [], [hour, train,...",1,0,0,0,0,0,0,0
50,Economy,2013-12-01,1,We (2 adults) flew from CGN to ZHR in SMART. T...,CGN,ZHR,Germany,0.9503,0.337,0.000,0.663,"[[SMART], [], [legroom], [snack], [Price], []]",1,0,0,0,0,0,0,0
51,Economy,2013-12-01,0,We had bought Germanwings tickets from Helsink...,Lufthansa,the,Finland,-0.4318,0.041,0.055,0.904,"[[Helsinki, Berlin, departure, December], [wea...",0,1,0,0,0,0,0,0
52,Economy,2013-12-01,1,Flew from Birmingham to Berlin on 5 day winter...,Birmingham,Berlin,United Kingdom,0.9211,0.174,0.057,0.769,"[[day, winter, break], [timeliness, price, roo...",1,0,0,0,0,0,0,0
53,Economy,2013-12-01,0,I am a regular customer of Germanwings and up ...,and,10,United Kingdom,-0.7713,0.060,0.125,0.815,"[[customer], [London, /, evening], [], [], [ad...",0,0,0,0,0,0,0,1
54,Economy,2013-11-01,0,Budapest to Cologne. Ground staff were pleasan...,Budapest,Cologne,Netherlands,-0.5820,0.105,0.149,0.746,"[[], [Ground, staff, bag, charge, boarding, on...",1,0,0,0,0,0,0,0
55,Economy,2013-10-01,1,Flew return from Heathrow to Koln on the 15th ...,Heathrow,Koln,United Kingdom,0.9801,0.168,0.022,0.810,"[[Flew, return, October, impression], [ground,...",0,0,0,0,0,0,1,0
56,Economy,2013-10-01,1,Flight from Vienna to Cologne - VIE-CGN - on t...,VIE,CGN,Germany,0.9255,0.161,0.052,0.787,"[[Vienna, standard, A], [price, class, level, ...",1,0,0,0,0,0,0,0
57,Economy,2013-09-01,0,CGN to FAO Cologne to Faro on an A320. Outboun...,CGN,FAO,Germany,0.9209,0.073,0.016,0.911,"[[Faro, A], [Outbound, arrival, aircraft], [je...",0,0,0,0,0,0,1,0
58,Economy,2013-09-01,0,Outbound the passengers were sent to gate clea...,NaN,NaN,United Kingdom,-0.1616,0.161,0.167,0.672,"[[information], [Captain, cabin, motorway], [v...",0,1,0,0,0,0,0,0
59,Economy,2013-08-01,0,Flew over the weekend CGN-ZRH. Booked Lufthans...,CGN,ZRH,Germany,-0.7096,0.052,0.114,0.833,"[[Flew, weekend], [operation, Europe], [leg, e...",0,0,0,0,0,0,0,1
60,Economy,2013-08-01,1,29th July 2013. London Heathrow to Cologne fli...,NaN,NaN,United Kingdom,0.9509,0.153,0.086,0.761,"[[July], [London, Heathrow, U], [online, websi...",0,0,0,0,1,0,0,0
61,Economy,2013-08-01,0,29th July 2013 Flight 4U838 from Cologne to Bo...,Cologne,Bologna,United Kingdom,-0.8020,0.045,0.094,0.861,"[[July, U], [day, airline], [hour, arrival, in...",0,0,1,0,0,0,0,0
62,Economy,2013-07-01,1,BRE-STR. Normal LCC. Staff friendly prices on ...,BRE,STR,Germany,0.8834,0.414,0.000,0.586,"[[], [Normal, LCC], [Staff, board, plane, clea...",1,0,0,0,0,0,0,0
63,Economy,2013-06-01,1,Flown Verona to Cologne connecting to Manchest...,verona,manchester,Italy,0.8122,0.120,0.024,0.856,"[[Flown, Verona, Manchester], [airline, -star,...",0,0,0,0,0,0,1,0
64,Economy,2013-06-01,0,Hamburg-Nuremberg-Hamburg. Outbound flight 40 ...,Hamburg,Nuremberg,Germany,-0.5182,0.057,0.118,0.825,"[[], [Outbound, reservation, system], [gate], ...",0,0,0,0,0,1,0,0
65,Economy,2013-06-01,0,FTL-M&M Frequent flyer status. I can't believe...,HAM,VIE,Germany,-0.7863,0.037,0.089,0.874,"[[FTL-M, M, Frequent, flyer, status], [name], ...",0,0,1,0,0,0,0,0
66,Economy,2013-05-01,1,We have just returned from Cologne to Manchest...,Cologne,Manchester,United Kingdom,0.5707,0.087,0.048,0.864,"[[pay, line, charge], [criticism, return, time...",0,0,1,0,0,0,0,0
67,Economy,2013-05-01,0,SPU-DTM.30th May 2013. 08.20 Departure. Flight...,SPU,DTM,United Kingdom,0.7355,0.095,0.060,0.845,"[[], [May], [], [Departure], [time], [return, ...",0,0,0,0,0,0,0,1
68,Economy,2013-05-01,0,Travelled from Manchester to Vienna with a 3 h...,Manchester,Vienna,United Kingdom,0.6335,0.110,0.072,0.819,"[[hour, stop, Koln/Bonn], [time, departure, ca...",0,0,0,0,0,0,0,1
69,Economy,2013-04-01,1,HAM-STR. Ground staff at Hamburg were pleasant...,HAM,STR,Germany,0.6858,0.095,0.036,0.870,"[[], [Ground, staff, Hamburg, everything, grou...",1,0,0,0,0,0,0,0
70,Economy,2013-04-01,1,Flew to Cologne from LHR on 29th March 2013 an...,Cologne,LHR,United Kingdom,0.8151,0.164,0.065,0.771,"[[Flew, March, April], [aircraft, staff], [fau...",0,0,0,0,0,0,0,1
71,Economy,2013-02-01,1,CGN-TXL A319. Evening service after Cologne Ca...,CGN,TXL,Germany,0.8595,0.097,0.046,0.858,"[[A], [Evening, service, Carnival, parade], []...",0,0,0,1,0,0,0,0
72,Economy,2013-02-01,0,Booked Lufthansa flight Cologne-Berlin on 28 J...,Cologne,Berlin,Germany,-0.7447,0.040,0.176,0.784,"[[Jan], [Jan, information, low-cost, carrier],...",0,0,0,0,1,0,0,0
73,Economy,2013-02-01,0,Sad affair on a flight from Treviso to Cologne...,Treviso,Cologne,Germany,-0.7096,0.034,0.115,0.850,"[[Sad, affair], [non-availability, ILS, plane,...",1,0,0,0,0,0,0,0
74,Economy,2012-12-01,0,Flew back from Cologne on the 10th December - ...,re,board,United Kingdom,-0.5187,0.135,0.188,0.678,"[[Flew, December, time, placement, delay], [co...",0,0,1,0,0,0,0,0
75,Economy,2012-12-01,0,Flew to Cologne from LHR - return flight had t...,Cologne,LHR,United Kingdom,0.0997,0.074,0.069,0.857,"[[Flew, return, departure, time, wait, bus, re...",0,0,1,0,0,0,1,1
76,Economy,2012-12-01,1,STN-CGN. Delayed 30 minutes with no reason or ...,STN,CGN,United Kingdom,0.7506,0.106,0.063,0.831,"[[], [reason, apology], [], [Due, load, locker...",0,0,1,0,0,0,0,0
77,Economy,2012-12-01,1,On a recent trip from Stuttgart to Stansted I ...,Stuttgart,Stansted,Germany,-0.6369,0.038,0.077,0.885,"[[trip, seat, row, mother, year, daughter], [s...",0,0,0,0,1,0,0,0
78,Economy,2012-12-01,1,London Stansted to Stuttgart Germany. Return. ...,NaN,NaN,United Kingdom,0.7460,0.170,0.056,0.774,"[[London, Stuttgart, Germany], [Return], [], [...",0,0,0,0,0,0,1,0
79,Economy,2012-11-01,0,On the booking confirmation form downloaded fr...,NaN,NaN,United Kingdom,-0.2982,0.028,0.056,0.916,"[[confirmation, form, Internet, information], ...",0,1,0,0,0,0,0,0
80,Economy,2012-10-01,1,LHR-CGN; CGN-LHR. Flight booked and paid for t...,LHR,CGN,United Kingdom,-0.2339,0.074,0.111,0.816,"[[], [], [Senator, none, London, Airport, Köln...",0,0,0,0,0,0,1,0
81,Economy,2012-10-01,0,Flights to Dubrovnik Croatia on 9/22 and retur...,Flights,Dubrovnik,Germany,-0.8921,0.031,0.118,0.851,"[[/, return, Stuttgart, //, explanation], [com...",0,0,0,0,0,0,0,1
82,Economy,2012-09-01,1,LHR-CGN-LHR. An excellent flight for a busines...,LHR,CGN,United Kingdom,0.9713,0.353,0.000,0.647,"[[], [business, trip], [Outbound, dot, return]...",0,0,0,0,0,0,1,0
83,Economy,2012-08-01,1,For a low-cost airline I was naturally not exp...,low,cost,United Kingdom,0.8591,0.200,0.000,0.800,"[[airline], [fee, legroom, British, Airways, s...",0,0,0,0,1,0,0,0
84,Economy,2012-07-01,0,We had a 6 hour delay for a 90 minute flight! ...,NaN,NaN,Ireland,-0.9057,0.000,0.138,0.862,"[[hour, delay, minute, Paid, extra, food, seat...",0,0,0,0,1,0,1,0
85,Economy,2012-07-01,1,STN-HAJ: Outward leg fine comfortable leather ...,STN,HAJ,United Kingdom,0.9359,0.149,0.058,0.792,"[[Outward, leather], [Return, journey, Birds, ...",1,0,0,0,0,0,0,0
86,Economy,2012-07-01,0,PMI to CGN. Check in was open 2.5 hours before...,PMI,CGN,Germany,0.8834,0.124,0.038,0.838,"[[], [Check], [], [Staff], [bag], [], [Staff, ...",1,0,0,0,0,0,0,0
87,Economy,2012-05-01,1,Fly an average of twice a year between North R...,having,pay,Netherlands,0.6808,0.064,0.015,0.922,"[[Fly, average, twice, year, North, Rhine-West...",1,0,0,0,0,0,0,0
88,Economy,2012-04-01,1,TXL-CGN. On time flight and straightforward ch...,TXL,CGN,Germany,0.8973,0.372,0.000,0.628,"[[], [time, straightforward, check-in], [value...",0,0,1,0,0,0,0,0
89,Economy,2012-04-01,1,STR-STN. Check-in and gate staff friendly and ...,STR,STN,United Kingdom,0.9433,0.328,0.075,0.597,"[[], [Check-in, staff], [advantage, cost], [Ca...",0,0,0,0,0,0,1,0
90,Economy,2012-04-01,1,LHR-CGN. Unfortunately Lufthansa's service bet...,LHR,CGN,United Kingdom,0.8225,0.138,0.071,0.792,"[[], [service, London], [arrival, Star, Allian...",0,0,0,0,0,0,0,1
91,Economy,2011-09-01,1,EDI-CGN and CGN-MUC. I have always rated them ...,EDI,CGN,United Kingdom,0.7579,0.091,0.066,0.842,"[[], [cost], [staff, company], [drop, online, ...",0,1,0,0,0,0,0,0
92,Economy,2011-07-01,1,Istanbul to Dortmund. take off super. No probl...,Istanbul,Dortmund,Netherlands,-0.0627,0.218,0.265,0.517,"[[], [super], [problem, air, pressure], [time,...",0,0,1,0,0,0,0,0
93,Economy,2011-07-01,0,Cologne-Marrakech return. Onward flight was la...,Cologne,Marrakech,Germany,0.9117,0.209,0.093,0.698,"[[return], [Onward, boarding, mess], [snack, c...",0,0,0,0,0,0,0,1
94,Economy,2011-07-01,1,DUB-VCE via CGN. The flight arrived about a 30...,DUB,VCE,United States,-0.6124,0.033,0.084,0.883,"[[CGN], [Dublin, time], [price], [trip, Venice...",0,0,0,0,0,0,1,0
95,Economy,2011-06-01,0,STN-GGN-STN. Outward flight faultless. Swift c...,STN,GGN,United Kingdom,0.9654,0.232,0.061,0.707,"[[], [Outward, faultless], [Swift, check-in, b...",0,0,0,0,0,0,1,0
96,Economy,2011-06-01,1,Manchester to Berlin via Cologne/Bonn. Punctua...,Manchester,Berlin,United Kingdom,0.8655,0.203,0.000,0.797,"[[Cologne/Bonn], [Punctual, efficient], [snack...",0,0,0,0,0,1,0,0
97,Economy,2011-05-01,1,Cologne/Bonn to London Stansted. Check-in stra...,Bonn,London,United Kingdom,0.8591,0.119,0.037,0.844,"[[], [Check-in, straightforward], [board, airc...",0,0,0,0,0,1,0,0
98,Economy,2011-03-01,1,Probably the best amongst the cheap flight car...,NaN,NaN,Germany,0.5545,0.157,0.077,0.767,"[[amongst], [staff, problem], [airline, norm],...",0,0,0,0,0,0,1,0
99,Economy,2011-03-01,1,Munich to Cologne return. A nice experience. O...,Munich,Cologne,Germany,0.4879,0.123,0.043,0.834,"[[], [experience], [check-in, seat, selection,...",0,1,0,0,0,0,0,0
100,Economy,2011-02-01,1,ZAG-SXF on new A319 with clean cabin. Legroom ...,ZAG,SXF,Croatia,0.7430,0.176,0.039,0.785,"[[A, cabin], [Legroom, bit, service, food, bev...",0,0,0,1,0,0,0,0
101,Economy,2010-10-01,1,I've had at least eight Germanwings flights in...,NaN,NaN,Germany,-0.5574,0.025,0.079,0.896,"[[], [thing, fact, Euro/kilo, anything, kilos,...",0,1,0,0,0,0,0,0
102,Economy,2010-09-01,1,MAN-CGN on A319. Punctual flight on a clean mo...,MAN,CGN,United Kingdom,0.9429,0.269,0.000,0.731,"[[A], [plane], [value, price], [bottle, beer, ...",0,0,0,0,0,0,0,1

In [77]:
def getEntropy(values):
    P = sum(values)
    N = len(values) - P
    
#     print (P,N)
    
    if P == 0 or N == 0:
        return 0, P, N
    
    A = (-P/(P+N))*math.log2(P/(P+N))
    B = (-N/(P+N))*math.log2(N/(P+N))
    
    
    return A+B, P, N

#topics
for i in [x for x in data.columns if "topic_" in x]:
    print (i, getEntropy(data.loc[(data[i] == 1)]["Recommended"].tolist()))
print("---------------------")

#countries
for i in list(set(data["Country"].tolist())):
    print (i, getEntropy(data.loc[(data["Country"] == i)]["Recommended"].tolist()))
print("---------------------")

#origin
for i in list(set(data["origin"].tolist())):
    print (i, getEntropy(data.loc[(data["origin"] == i)]["Recommended"].tolist()))
print("---------------------")

#destin
for i in list(set(data["destin"].tolist())):
    print (i, getEntropy(data.loc[(data["destin"] == i)]["Recommended"].tolist()))
print("---------------------")

#sentiment
for i in range(-9,9):
    j = i/10
    print ("senti_greater_than", j, getEntropy(data.loc[(data["sentiment_com"] > j)]["Recommended"].tolist()))
    print ("senti_lesserr_than", j, getEntropy(data.loc[(data["sentiment_com"] < j)]["Recommended"].tolist()))

print("---------------------")

topic_plane (0.9819407868640976, 11, 8)
topic_luggage (0.9986359641585718, 12, 11)
topic_time (0.9612366047228759, 5, 8)
topic_service (0.9544340029249649, 5, 3)
topic_food (0.9612366047228759, 8, 5)
topic_price (1.0, 2, 2)
topic_staff (0.8997437586982626, 13, 6)
topic_crew (0.9544340029249649, 9, 15)
---------------------
China (0, 1, 0)
Germany (0.999609836367807, 21, 22)
Italy (0, 2, 0)
France (0, 0, 1)
Austria (0, 2, 0)
Gibraltar (0, 0, 1)
Ireland (0, 0, 1)
Finland (0, 0, 1)
Australia (0, 0, 1)
Croatia (0, 1, 0)
Netherlands (0.863120568566631, 5, 2)
United States (0.7219280948873623, 4, 1)
Czech Republic (0.9182958340544896, 2, 1)
United Kingdom (0.9985090989176322, 23, 21)
Canada (1.0, 1, 1)
---------------------
Flights (0, 0, 1)
Cologne (0.9957274520849255, 7, 6)
fly (0, 0, 2)
Hamburg (0.6500224216483541, 1, 5)
Berlin-Tegel (0, 1, 0)
SPU (0, 0, 1)
low (0, 1, 0)
HAM (0.9182958340544896, 2, 1)
Heathrow (0, 2, 0)
Lufthansa (0, 0, 1)
out (0, 0, 1)
Prague (0, 1, 0)
MAN (0, 1, 0)
verona (0, 1, 0)
and (0, 0, 1)
Vienna (0, 1, 0)
cologne (0, 0, 1)
DUS (0.8112781244591328, 3, 1)
re (0, 0, 1)
Birmingham (0, 1, 0)
having (0, 1, 0)
PMI (0, 0, 2)
FCO (0, 0, 1)
STN (0.8112781244591328, 3, 1)
BRE (0, 1, 0)
TXL (0, 1, 0)
STR (0, 1, 0)
Barcelona (0, 0, 1)
PRG (0, 2, 0)
VIE (0, 1, 0)
Treviso (0, 0, 1)
Düsseldorf (0, 1, 0)
Duesseldorf (0, 0, 1)
CGN (0.9910760598382222, 5, 4)
Brussels (0, 1, 0)
LHR (0.6500224216483541, 5, 1)
Manchester (0.9182958340544896, 2, 1)
Bonn (1.0, 1, 1)
NaN (0.9182958340544896, 5, 10)
what (0, 0, 1)
Berlin (1.0, 1, 1)
ZAG (0, 1, 0)
London (0, 1, 0)
Stuttgart (0.9182958340544896, 1, 2)
Istanbul (1.0, 1, 1)
Budapest (0, 0, 1)
Bologna (0, 1, 0)
Stansted (0, 1, 0)
Munich (0, 1, 0)
Dusseldorf (0, 0, 1)
EDI (0, 1, 0)
DUB (0, 1, 0)
---------------------
Cologne (0.9182958340544896, 4, 2)
Hamburg (0, 1, 0)
DTM (0, 0, 1)
Marrakech (0, 0, 1)
manchester (0, 1, 0)
Geneva (0, 0, 1)
HAJ (0, 2, 0)
Zadar (0, 1, 0)
Heathrow (0, 0, 2)
BHX (0, 1, 0)
Prague (1.0, 1, 1)
friends (0, 1, 0)
Vienna (0.9182958340544896, 2, 1)
LIS (0, 1, 0)
Santorini (0, 1, 0)
cologne (0, 0, 1)
cost (0, 1, 0)
GVA (0, 1, 0)
pay (1.0, 1, 1)
PMI (0, 1, 0)
STN (0, 1, 0)
Koln (0, 1, 0)
Amsterdam (0, 0, 1)
TXL (0.9182958340544896, 2, 1)
STR (0, 3, 0)
Hanover (0, 0, 1)
Paris (1.0, 1, 1)
10 (0, 0, 1)
Zurich (0, 1, 0)
LH (0, 0, 1)
PRG (0, 1, 0)
VIE (0, 0, 1)
CGN (0.6840384356390417, 9, 2)
ZHR (0, 1, 0)
ZRH (0.9182958340544896, 2, 1)
LHR (0.9182958340544896, 1, 2)
Palma (0.9182958340544896, 1, 2)
Manchester (1.0, 1, 1)
GGN (0, 0, 1)
NaN (0.9182958340544896, 5, 10)
Dubrovnik (0, 0, 1)
Berlin (0.9709505944546686, 3, 2)
FAO (0, 0, 1)
hamburg (0, 0, 1)
London (1.0, 3, 3)
Nuremberg (0, 0, 1)
board (0, 0, 1)
Stuttgart (1.0, 1, 1)
VCE (0, 1, 0)
Dortmund (0, 1, 0)
Bologna (0, 0, 1)
Stansted (0, 1, 0)
SXF (0, 1, 0)
the (0, 0, 2)
HAM (0.9182958340544896, 1, 2)
---------------------
senti_greater_than -0.9 (0.9878444130876813, 61, 47)
senti_lesserr_than -0.9 (0.5916727785823275, 1, 6)
senti_greater_than -0.8 (0.9720860303962261, 61, 41)
senti_lesserr_than -0.8 (0.39124356362925566, 1, 12)
senti_greater_than -0.7 (0.9321115676166747, 60, 32)
senti_lesserr_than -0.7 (0.4262286569981449, 2, 21)
senti_greater_than -0.6 (0.9103480624345153, 58, 28)
senti_lesserr_than -0.6 (0.5787946246321198, 4, 25)
senti_greater_than -0.5 (0.8701883352082784, 56, 23)
senti_lesserr_than -0.5 (0.6500224216483541, 6, 30)
senti_greater_than -0.4 (0.8503821170987138, 55, 21)
senti_lesserr_than -0.4 (0.6789538995185759, 7, 32)
senti_greater_than -0.3 (0.8503821170987138, 55, 21)
senti_lesserr_than -0.3 (0.6789538995185759, 7, 32)
senti_greater_than -0.2 (0.7941021417852022, 54, 17)
senti_lesserr_than -0.2 (0.6840384356390417, 8, 36)
senti_greater_than -0.1 (0.7553754125614287, 54, 15)
senti_lesserr_than -0.1 (0.6665783579949205, 8, 38)
senti_greater_than 0.0 (0.739480936716638, 53, 14)
senti_lesserr_than 0.0 (0.6962122601251459, 9, 39)
senti_greater_than 0.1 (0.7158259310602149, 53, 13)
senti_lesserr_than 0.1 (0.6880476235340796, 9, 40)
senti_greater_than 0.2 (0.6900703653284017, 53, 12)
senti_lesserr_than 0.2 (0.6800770457282799, 9, 41)
senti_greater_than 0.3 (0.631263018091612, 53, 10)
senti_lesserr_than 0.3 (0.6646953053493417, 9, 43)
senti_greater_than 0.4 (0.6436394131461666, 51, 10)
senti_lesserr_than 0.4 (0.7292739418449411, 11, 43)
senti_greater_than 0.5 (0.6500224216483541, 50, 10)
senti_lesserr_than 0.5 (0.7568336324184035, 12, 43)
senti_greater_than 0.6 (0.676941869780886, 46, 10)
senti_lesserr_than 0.6 (0.8431619569518378, 16, 43)
senti_greater_than 0.7 (0.6722948170756379, 42, 9)
senti_lesserr_than 0.7 (0.8960382325345573, 20, 44)
senti_greater_than 0.8 (0.5916727785823275, 36, 6)
senti_lesserr_than 0.8 (0.9394532068181356, 26, 47)
---------------------

In [103]:
def getSentEntropy(values):
    P = sum([1 for x in values if x>0.5])
    N = sum([1 for x in values if x<-0.5])
    
#     print (P,N)
    
    if P == 0 or N == 0:
        return 0, P, N
    
    A = (-P/(P+N))*math.log2(P/(P+N))
    B = (-N/(P+N))*math.log2(N/(P+N))
    
    
    return A+B, P, N


#topics
#topics
for i in [x for x in data.columns if "topic_" in x]:
    print (i, getSentEntropy(data.loc[(data[i] == 1)]["sentiment_com"].tolist()))
print("---------------------")

topic_plane (0.8739810481273578, 12, 5)
topic_luggage (1.0, 9, 9)
topic_time (0.9709505944546686, 4, 6)
topic_service (0.9852281360342515, 4, 3)
topic_food (0.9940302114769565, 5, 6)
topic_price (0.9182958340544896, 2, 1)
topic_staff (0.6722948170756379, 14, 3)
topic_crew (0.8524051786494785, 13, 5)
---------------------